.kx-navbar {margin-bottom: 0px;border: none;border-bottom: 1px solid rgba(136,149,239,0.2);background: rgba(0,0,0,0.2);position: absolute;left: 0;top: 0;right: 0;}
.kx-navbar-brand {float: left;height: auto;padding: 5px 15px;font-size: 18px;line-height: 20px;}
.kx-navbar-brand span {display: none;}
.kx-navbar-brand img {width: 150px;}
.kx-nav>li:nth-of-type(even){display: none;}
.kx-navbar .kx-nav>li>a{color: #eee;}
.kx-navbar .kx-nav>li.active>a,.kx-navbar .kx-nav>li.active>a:hover,.kx-navbar .kx-nav>li>a:hover{color: #8fc320;background-color: transparent;}
.kx-nav>li>a {padding: 10px 15px 10px;}
.kx-nav>li:last-child>a{background: url(../images/icon/search.png) no-repeat center 47px;text-indent: -9999px;}
.kx-container .navbar-toggle {margin-top: 10px;margin-bottom: 10px;}
.kx-carousel{left: 30.217%;}
.kx-carousel li{width: 10px;height: 4px;border-radius: 4px;background-color: rgba(255,255,255,0.6);border: none;margin: 0;}
.kx-carousel li.active{width: 20px;height: 4px;border-radius: 4px;background-color: #8fc320;}
/*产品展示*/
.product-nav{background: #f5f5f5;display: none;}
.product{text-align: center;padding-top: 48px;padding-bottom: 48px;}
.product.active,.product:hover{background: #8fc320;color: #fff;}
.product figure{width: 100px;height: 100px;margin: 0 auto 24px;}
.product .prod1{background: url(../images/index/supnav1.png) no-repeat center;}
.product .prod2{background: url(../images/index/supnav2.png) no-repeat center;}
.product .prod3{background: url(../images/index/supnav3.png) no-repeat center;}
.product .prod4{background: url(../images/index/supnav4.png) no-repeat center;}
#product{margin: 20px 0;}
#product .item{}
#product .item dl{background: #fff;margin-bottom: 0;}
#product .item dl dt{float: none;text-align: center;}
#product .item dl dt img{width: 80%;}
#product .item dl dd{background: #fff;width: 80%;margin: 10px auto 0;}
#product .item dl dd h5{font-size: 18px;color: #333;border-bottom: 2px solid #8fc320;border-top: 2px solid #8fc320;display: inline-block;padding: 10px 0;margin: 0;font-weight: 500;}
#product .item dl dd p{font-size: 12px;color: #666;line-height: 28px;margin: 10px 0;max-height: 56px;overflow: hidden;}
#product .item dl dd a {font-size: 16px;padding: 8px 18px;border-radius: 3px;display: inline-block;}
#product .item dl dd a:nth-of-type(1) {color: #fff;background: #8fc320;border: 1px solid transparent;}
#product .item dl dd a:nth-of-type(2) {color: #1295f2;border: 1px solid #1295f2;margin-left: 15px;}
#product .carousel-control,.application-sx .carousel-control{background: none;top: 50%;font-size: 40px;}
#product .carousel-control.left{text-align: left;}
#product .carousel-control.right{text-align: right;}
.application{display: none;}
.application-sx{display: block;}
.application-sx figcaption{background: #f5f5f5 url(../images/index/apply-nav.png) no-repeat center top;line-height: 40px;text-align: center;font-size: 16px;color: #fff;}
.application-sx figure img{width: 100%;}
@media (min-width: 768px) {
  .kx-container {width: 750px;}
  .kx-nav>li:nth-of-type(even){display: none;}
  .kx-nav>li>a {padding: 10px 15px 10px;}
  .kx-container .navbar-toggle {display: block;}
  .kx-container .navbar-collapse.collapse {display: none !important;visibility: hidden !important;}
  .kx-container .navbar-header {float: none;}
  .kx-container .navbar-nav>li {float: none;}
  .kx-container .navbar-right {float: none !important;}
  .kx-container .navbar-collapse.in {display: block !important;visibility: visible !important;overflow-y: visible !important;}
  .product-nav{background: #f5f5f5;display: block;}
  #product .carousel-control{background: none;display: none;}
  #product .item{display: none;}
  #product .item.active{display: inline-block;}
  #product{margin: 80px 0;}
  #product .item dl dt{float: left;}
  #product .item dl dt img{width: 370px;}
  #product .item dl dd{margin: 0 0 0 390px;width: auto;}
  #product .item dl dd h5{font-size: 20px;color: #333;border-bottom: 2px solid #8fc320;border-top: 2px solid #8fc320;display: inline-block;padding: 12px 0;margin: 0;font-weight: 500;}
  #product .item dl dd p{font-size: 12px;color: #666;line-height: 30px;margin: 15px 0 10px;max-height: 90px;overflow: hidden;}
  #product .item dl dd a {font-size: 16px;padding: 10px 20px;border-radius: 3px;display: inline-block;}
  .application{background: #f5f5f5 url(../images/index/apply-nav.png) no-repeat center top;}
  .application .jumbotron{background: transparent;text-align: center;padding-left: 200px;padding-right: 200px;padding-top: 20px;padding-bottom: 0px;margin-bottom: 10px;}
  .application .jumbotron h1{margin: 10px 0;font-size: 28px;letter-spacing: 2px;color: #333;font-weight: 500;}
  .application .jumbotron p{margin: 10px;font-size: 14px;color: #888;}
  .application .nav-tongxin{background: url(../images/icon/apply-icon1.png) no-repeat left center,url(../images/icon/down.png) no-repeat 95% center;padding-left: 30px;line-height: 100px;font-size: 18px;color: #f5f5f5;}
  .application .nav-dianli{background: url(../images/icon/apply-icon2.png) no-repeat left center,url(../images/icon/down.png) no-repeat 95% center;padding-left: 30px;line-height: 100px;font-size: 18px;color: #f5f5f5;}
  .application .nav-jiaotong{background: url(../images/icon/apply-icon3.png) no-repeat left center,url(../images/icon/down.png) no-repeat 95% center;padding-left: 30px;line-height: 100px;font-size: 18px;color: #f5f5f5;}
  .application .nav-huishou{background: url(../images/icon/apply-icon4.png) no-repeat left center,url(../images/icon/down.png) no-repeat 95% center;padding-left: 30px;line-height: 100px;font-size: 18px;color: #f5f5f5;}
  .application .row div.active,.application .row div:hover{background: #fff;color: #90c221;}
  .application .app-col{display: none;}
  .application .app-col.active{display: block;}
  .application .app-col div{margin-top: 15px;margin-bottom: 15px;}
  .application .app-col img{width: 100%;}
  .application .app-col p{width: 100%;height: 50px;line-height: 50px;background: rgba(0,0,0,0.4);font-size: 16px;color: #fff;text-indent: 20px;position: absolute;left: 0;bottom: 0;right: 0;margin: 0;} 
  .application{display: block;}
  .application-sx{display: none;}
}
@media (min-width: 992px) {
  .kx-container {width: 970px;}
  .kx-navbar-brand {float: left;height: 89px;padding: 15px 15px;font-size: 18px;line-height: 20px;}
  .kx-navbar-brand img {width: 228px;}
  .kx-container .navbar-toggle {display: none;}
  .kx-nav>li:nth-of-type(even){line-height: 20px;color: #eee;padding: 45px 0px 24px;display: inline-block;}
  .kx-nav>li>a {padding: 45px 15px 24px;}
  .kx-container .navbar-collapse.collapse {display: block !important;height: auto !important;padding-bottom: 0;overflow: visible !important;visibility: visible !important;}
  .kx-container .navbar-header {float: left;}
  .kx-container .navbar-nav>li {float: left;}
  .kx-container .navbar-right {float: right !important;}
  .kx-carousel li{width: 17px;height: 7px;border-radius: 7px;background-color: rgba(255,255,255,0.6);border: none;margin: 0;}
  .kx-carousel li.active{width: 37px;height: 7px;border-radius: 7px;background-color: #8fc320;}
  #product{margin: 146px 0;}
  #product .item dl dt img{width: 100%;}
  #product .item dl dd{margin-left: 590px;}
  #product .item dl dd h5{font-size: 24px;color: #333;border-bottom: 3px solid #8fc320;border-top: 3px solid #8fc320;display: inline-block;padding: 20px 0;margin: 0;font-weight: 500;}
  #product .item dl dd p{font-size: 12px;color: #666;line-height: 36px;margin: 23px 0;max-height: 144px;overflow: hidden;}
  #product .item dl dd a {font-size: 16px;padding: 15px 40px;border-radius: 3px;display: inline-block;}
}
@media (min-width: 1200px) {
  .kx-container {width: 1198px;}
}